@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar.sticky{
    padding: 12px 0;
    background-color: #193498 ;
}
.navbar{
    position: fixed;
    width: 100%;
    font-family: 'Nunito',sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #193498;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.3s ease-in-out;
}
.navbar .menu li a:hover{
    color: #193498 ;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/*menu btn Style*/

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*Home Section*/
.home{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.4),transparent),url(asset/img/DSC00862.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Nunito',sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    font-size: 30px;
    margin: 5px 0;
    color: rgb(21, 72, 212);
    font-weight: 600;
    
}
.home .home-content a{
    display: inline-block;
    background-color: rgb(21, 72, 212);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(21, 72, 212);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(21, 72, 212);
    background: none;
    transform: scale(1.1);
}


/* about section styling */

.about .title::after{
    content: "Who i am";
}
.about .about-content, .services .services-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
   font-size: 25px;
   font-weight: 600;
   margin-bottom: 10px;
}
.about .about-content .right span{
    color: #193498;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background-color: rgb(21, 72, 212);
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(21, 72, 212);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #193498;
    background: none;
    transform: scale(1.1);
    
}
/* all similiar content code */
section{
    padding: 100px 0;
    
}
.about, .services, .projects, .contact{
    font-family: 'Poppins',sans-serif;

}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Nunito',sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    width: 180px;
    left: 50%;
    bottom: 0px;
    height: 3px;
    background: #111;
    position: absolute;
    transform: translateX(-50%);
}
section .title::after{
    
    padding: 5px;
    left: 50%;
    bottom: -13px;
    font-size: 20px;
    color: #193498;
    background: #fff;
    position: absolute;
    transform: translateX(-50%);
}
/* Services section styling */
.services{
    background: #111;
    color: #fff;
}
.services .title::before{
   background: #fff;
}
.services .title::after{
    content: "What i provide";
    background-color: #111;
}
.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.services .services-content .card:hover{
    background-color: #193498;
}
.services .services-content .card i{
    font-size: 50px;
    color: #193498;
    transition: all 0.3s ease-in;
}
.services .services-content .card:hover i{
    color: #fff;
}
.services .services-content .card .box{
    transition: all 0.3s ease-in;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* projects styling */
.projects .title::after{
    content: "what i made";
}
.projects .carousel .card{
    border-radius: 6px;
    padding: 25px 35px;
    background: rgb(240, 236, 236);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.projects .carousel .card:hover{

background-color: #193498;
color: #fff;
}
.projects .carousel .card:hover .box{
    transform: scale(1.02);
}
.projects .carousel .card:hover img{
    border: 5px solid #fff;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;   
}

.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #193498;
    transition: all 0.3s ease-in;   
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #193498 !important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 45px;
    border-radius: 14px;
}
.owl-dot.active,.owl-dot:hover{
    background: #193498;
}
/* contact styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
    padding: 100px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .contact-content .column:hover{
    background-color: #111;
}
.contact .contact-content .column:hover .text{
    color: #fff;
}
.contact .contact-content .column:hover i{
    color: crimson;
}
.contact .contact-content .column:hover span{
    color: crimson;
}
.contact .contact-content .text{
    font-size: 15px;
    font-weight: 600px;
    margin: 10px;
    text-align: center;
    transition: all 0.3s ease;

}
.contact .contact-content span{
    font-size: 15px;
    font-weight: 600px;
    color: #193498;
    transition: all 0.3s ease;
}
.contact .contact-content i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #193498;
}
/* footer styling */
footer{
    background-color: #111;
    padding: 20px 23px;
    color: #fff;

}
footer span a{
    color: #193498;
}
footer span a:hover{
    text-decoration: underline;
}
/*Responsive Media query start*/
@media (max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width:1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        
    }
}
@media (max-width:991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width:947px) {
    .max-width{
        padding: 0 50px;
    }   
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        background: rgb(17, 17, 17);
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 60px;
            
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .max-width{
        max-width: 800px;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin: 10px 10px;
    }
    
}
@media (max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
            
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 8px 20px;
    }
    .services .services-content .card{
        width: 100%;
    }
   
}
@media (max-width:500px){
    .home .home-content .text-2{
        font-size: 50px;
            
    }
    .home .home-content .text-3{
        font-size: 17px;
    }
}